body{    
    background-color: var(--body-bg-color);
    color: var(--text);
    margin: 0 3em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--main-bg-color);
    background-image: linear-gradient(var(--main-bg-color), var(--trans-bg-color));
    margin: 0.5em 0;
}

h2 {
    justify-content: center;   
    font-family: var(--comun-font-family);
    font-size: var(--x-large);
    font-weight: var(--bolder);
    margin: 0.5em 0 2em 0; 
}

h3 {
    font-family: var(--comun-font-family);
    font-weight: var(--bold);
    padding-bottom: 0.3em;
}





