header {   
    background-color: var(--main-bg-color);
    background-image: linear-gradient(var(--trans-bg-color), var(--nav-bg-color));
}

.linea {
    background-color: var(--body-bg-color);
    height: 1em;

}
nav {
    background-color: var(--nav-bg-color); 
    background-image: linear-gradient(var(--nav-bg-color), var(--trans-bg-color));  
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap; 
    gap: 1em;
    margin-right: 1em;
}

.nav__item {
    font-family:var(--nav-font-family);
    font-size: var(--large);
    font-weight: bold; 
    padding: 1em;
}

a {
    color: var(--navitem-tx-color); 
    transition: background-color .5s;
}  

a:hover {
    color: var(--light-tx-color);
}

.headerbar { 
    background-image: linear-gradient(var(--trans-bg-color), var(--nav-bg-color));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
}

#headerbar__izquierda--nombre {
    font-size: var(--x-large);
    font-family: var(--h1-font-family);
    font-weight: bolder;
    padding-bottom: 1em;

}

.headerbar__izquierda, .headerbar__imagen, .headerbar__derecha {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 5px solid var(--body-bg-color);
    border-radius: 10px;
    padding: 0.5em; 
    margin-bottom: 2em; 
    width: 30%;
    transition: width background-color color 0.3s;
}

.headerbar__izquierda:hover, .headerbar__imagen:hover, .headerbar__derecha:hover {
    width: 40%;
    background-color: var(--nav-bg-color);
    color: var(--light-tx-color);
}

.headerbar__izquierda--cargo {
    font-family: var(--comun-font-family);
    font-size: var(--x-large);    
    font-weight: light;
}

.headerbar__imagen--imagen {
    border-radius: 50%;
}

.headerbar__derecha--direccion, .headerbar__derecha--contacto {
    display: flex;
    flex-direction: row; 
    align-content: center;
    justify-content: flex-end;     
    font-family: var(--comun-font-family);
    font-size: var(--medium);
    padding: 1em;
}

.headerbar__derecha--contacto {
    font-weight: bold;
}



