@media (max-width: 660px) {
    body {
        margin: 1em;
    } 

    nav {
        margin: 2em;
    }
    .nav__item {
        padding: 0;
    }

    .headerbar {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap; 
       align-items: center;
    }

    .headerbar__izquierda, .headerbar__imagen, .headerbar__derecha {
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 200px;
        transition: none;
    }

    .headerbar__izquierda:hover, .headerbar__imagen:hover, .headerbar__derecha:hover {
        width: 60%;
    }

    .headerbar__imagen {
        padding: 2em;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    aside {
        padding: 0;
    }

    .main__index {
        margin: 0;
    }

    .main__contacto {
        display: flex;
        flex-direction: column;      
        margin: 0;
    }

    .section__contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
        margin: 0;
    }

    .encontacto, .sigamos {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    i {
        align-items: center;
    }
}

@media (max-width: 330px) {
    body {
        margin: 0
    }

    nav > ul {
        display: flex;
        flex-direction: column;
    }

    .headerbar__izquierda, .headerbar__imagen, .headerbar__derecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .main__contacto {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .section__contacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
        margin: 0;
    }

    .encontacto, .sigamos {
        display: flex;
        flex-direction: column;
        margin: 1em;
        font-size: var(--small);
    }

}