.main__contacto {
    background-color: var(--nav-bg-color);
    background-image: linear-gradient(var(--main-bg-color), var(--trans-bg-color));
    margin: 1em 0;
}

.section__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
}

.encontacto, .sigamos, .interes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 6em;
    width: 6em;
    background-color: var(--nav-bg-color);
    font-family: var(--h1-font-family);
    font-size: var(--xx-large);
    color: var(--light-tx-color);
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    transition: background-color .5s;
}

.encontacto:hover, .sigamos:hover, .interes:hover {
    background-color: var(--hover-bg-color);

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 4em;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1em;
}

label {
    font-family: var(--comun-font-family);
    font-size: 1em;
    padding: 0.5em;    
}

input {
    width: 25em;
    font-size: var(--medium);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: var(--xx-small);
}

select {
    width: 25em;
    font-size: var(--x-small);
    padding: 0.5em;
    margin: 0.5em;
    height: 2.5em;
    border-radius: var(--xx-small);
}

::placeholder {
    font-size: var(--small);
    font-style: oblique;
}

#contamemas {
    font-family: var(--comun-font-family);
    padding: 1em;
    border-radius: var(--xx-small);
}

button {  
    cursor: pointer;
    border-radius: 10%;
    font-size: var(--large);
    background-color: var(--body-bg-color);
    color: var(--light-tx-color);  
    margin-top: 1em; 
    padding: 0.5em;   
    transition: background-color .5s;
}

button:hover {
    background-color: var(--hover-bg-color);
}
.boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btn-borrar, #btn-enviar {
    margin: 2em;
}
