.main__contacto {
    background-color: var(--nav-bg-color);
    background-image: linear-gradient(var(--main-bg-color), var(--trans-bg-color));
    margin: 1em 0;
}

.section__contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;    
}

.encontacto, .sigamos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 13em;
    background-color: var(--nav-bg-color);
    font-family: var(--h1-font-family);
    font-size: var(--xx-large);
    color: var(--light-tx-color);
    text-align: center;
    border: 5px solid var(--body-bg-color);
    border-radius: 20px;
    transition: width background-color .5s;
}

.encontacto:hover, .sigamos:hover {
    background-color: var(--hover-bg-color);
    width: 15em;
}


